---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hello, I'm Shine Maw Arnt">
  <main class="sm:text-lg flex flex-col gap-y-6 text-lightGray">
    <h2 class="text-4xl font-bold font-merriweather text-softWhite">Hello!</h2>
    <p>I'm Shine Maw Arnt!</p>
    <p>
      I’m an educator with a deep passion for teaching Olympiad mathematics. I
      founded <a
        href="https://shinewithmath.com"
        title="SHINE with MATHS website"
        target="_blank"
        class="text-oceanBlue font-semibold text-nowrap">SHINE with MATHS</a
      > to help students excel in this challenging field, guiding them to develop
      strong problem-solving skills and a true love for math. My mission is to inspire
      and empower the next generation of mathematical thinkers.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam
      recusandae ab sed autem nam hic, sunt dolorum nihil error quaerat
      obcaecati enim illum, assumenda magni placeat minima! Et, velit accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta,
      praesentium? Nulla consequatur veniam magnam vero!
    </p>
  </main>
</Layout>
