---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Teaching">
  <main class="sm:text-lg flex flex-col gap-y-6 text-lightGray">
    <h2 class="text-4xl font-bold font-merriweather text-softWhite">
      Teaching
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora facere
      dolorem vel illo, voluptates necessitatibus.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi mollitia
      incidunt repudiandae nobis odit vero vitae in ea quasi quam. Saepe atque
      at eum accusamus laboriosam quia, vitae quod provident sint, sit quam
      maxime temporibus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quidem,
      sunt, porro, dicta totam voluptas quo commodi deserunt ab ipsa neque
      eveniet atque obcaecati est nam assumenda. Qui vel delectus suscipit
      impedit alias ipsum voluptatum nemo autem eaque, repudiandae consectetur
      rerum. Pariatur maiores voluptatibus aliquam soluta aliquid unde
      accusantium sunt!
    </p>
  </main>
</Layout>
