---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Teaching">
  <main class="sm:text-lg flex flex-col gap-y-6 text-lightGray">
    <h2 class="text-4xl font-semibold text-softWhite">Teaching</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora facere
      dolorem vel illo, voluptates necessitatibus.
    </p>
  </main>
</Layout>
